/* 动画 */
.layer-anim {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}
@keyframes layer-bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.layer-anim-00 {
  animation-name: layer-bounceIn;
}

@keyframes layer-zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateY(-2000px);
    -ms-transform: scale(0.1) translateY(-2000px);
    transform: scale(0.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateY(60px);
    -ms-transform: scale(0.475) translateY(60px);
    transform: scale(0.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.layer-anim-01 {
  animation-name: layer-zoomInDown;
}

@keyframes layer-fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.layer-anim-02 {
  animation-name: layer-fadeInUpBig;
}

@keyframes layer-zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) translateX(-2000px);
    -ms-transform: scale(0.1) translateX(-2000px);
    transform: scale(0.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.475) translateX(48px);
    -ms-transform: scale(0.475) translateX(48px);
    transform: scale(0.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.layer-anim-03 {
  animation-name: layer-zoomInLeft;
}

@keyframes layer-rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
.layer-anim-04 {
  animation-name: layer-rollIn;
}

@keyframes layer-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.layer-anim-05 {
  animation-name: layer-fadeIn;
}

@keyframes layer-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.layer-anim-06 {
  animation-name: layer-shake;
}
/* 关闭动画 */
@-webkit-keyframes layer-bounceOut {
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
  30% {
    transform: scale(1.05);
  }
  0% {
    transform: scale(1);
  }
}
@keyframes layer-bounceOut {
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
  30% {
    transform: scale(1.05);
  }
  0% {
    transform: scale(1);
  }
}
.layer-anim-close {
  animation-name: layer-bounceOut;
  animation-fill-mode: both;
  animation-duration: 0.2s;
}