/* 按钮栏 */
.layui-layer-btn {
  text-align: right;
  padding: 0 15px 12px;
  pointer-events: auto;
  user-select: none;
  a {
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      opacity: 0.9;
      text-decoration: none;
    }
    &:active {
      opacity: 0.8;
    }
  }
  .layui-layer-btn0 {
    border-color: #1e9fff;
    background-color: #1e9fff;
    color: #fff;
  }
}
.layui-layer-btn-l {
  text-align: left;
}
.layui-layer-btn-c {
  text-align: center;
}