html #layuicss-layer {
  display: none;
  position: absolute;
  width: 1989px;
}

/* common */
.layui-layer-shade,
.layui-layer {
  position: fixed;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  top: 150px;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: rgba($brand-primary,.8);
  box-shadow: 0 0 30px rgba(#fff,.3) inset;
}
.layui-layer-shade {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // transition: opacity .25s 0s ease-out;
}
.layui-layer-close {
  position: absolute;
}
.layui-layer-content {
  position: relative;
}
.layui-layer-border {
  border: 1px solid #b2b2b2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.layui-layer-load {
  background: url(#{$sassImagePath}/loading-1.gif) #eee center center no-repeat;
  background: url(#{$sassImagePath}/loading-1.gif) #eee center center no-repeat;
}
.layui-layer-ico {
  background: url(#{$sassImagePath}/icon.png) no-repeat;
}
.layui-layer-dialog .layui-layer-ico,
.layui-layer-setwin a,
.layui-layer-btn a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.layui-layer-move {
  display: none;
  position: fixed;
  *position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #fff;
  z-index: 2147483647;
}
.layui-layer-resize {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}